editor-text-color = white
editor-bg-color-nofocus = #555
editor-bg-color-onfocus = #333
cb-text-color = #eee
cb-bg-color = #333
cd-font-family = Monaco, Menlo, Consolas, "Courier New", MeiryoKe_Console, "M+ 1m", monospace